<div class="container">
  <mat-card>
    <mat-card-title>Estimate Creation:</mat-card-title>
    <mat-card-content>
      <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="this.title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="this.description">
      </mat-form-field>
      <hot-table
        [hotId]="instance"
        [columns]="columns"
        [colHeaders]="headers"
        [colWidths]="colWidths"
        [data]="estimateTable"
        [outsideClickDeselects]="false"
        [contextMenu]="true"
        [rowHeaders]="true"
        [colHeaders]="true"
        (click)="updateTotal()">
      </hot-table>
      <h3>Total: {{this.total | currency}}</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="submitEstimate()" color="accent">Submit Estimate</button>
    </mat-card-actions>
  </mat-card>
</div>