<mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="selectDashboard()" >
          <mat-icon>home</mat-icon>
          Dashboard
        </button>
        <button mat-menu-item (click)="selectNewTask()">
          <mat-icon>control_point</mat-icon>
          Create estimate request
        </button>
        <button mat-menu-item (click)="selectLogout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">Estimate Manager</span>
  </mat-toolbar>
  <router-outlet></router-outlet>
