@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~handsontable/dist/handsontable.full.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #999;
}
