<div class="container">
  <mat-card>
    <mat-card-title>Please enter your user credentials:</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="estimateRequest.name">
      </mat-form-field>
      <mat-form-field>
        <!--TODO (Dario): This should be a dropdown-->
        <input matInput placeholder="Assignee" [(ngModel)]="estimateRequest.assignee">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="estimateRequest.description">
      </mat-form-field>
      <mat-form-field>
        <!--TODO (Dario): This should be a date picker-->
        <input matInput placeholder="Due Date" [(ngModel)]="estimateRequest.duedate">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="requestEstimate(estimateRequest)">Request estimate</button>
    </mat-card-actions>
  </mat-card>
</div>
